PUSHI 5
PUSHN 5
PUSHI 0
PUSHI 0
START
WHILE0:
PUSHG 6
PUSHG 0
INF
JZ ENDWHILE0
READ
ATOI
STOREG 7
PUSHGP
PUSHI 1
PADD
PUSHG 6
PUSHG 7
STOREN
PUSHG 6
PUSHI 1
ADD
STOREG 6
JUMP WHILE0
ENDWHILE0:
PUSHI 4
STOREG 6
WHILE1:
PUSHG 6
PUSHI 0
SUPEQ
JZ ENDWHILE1
PUSHGP
PUSHI 1
PADD
PUSHG 6
LOADN
WRITEI
PUSHS "\n"
WRITES
PUSHG 6
PUSHI 1
SUB
STOREG 6
JUMP WHILE1
ENDWHILE1:
STOP
